/* .navbar {
  border: 1px black solid;
  width: calc(100vw - 0vw);
  padding: 24px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav-item {
    text-decoration: none;
} */
